name: Build & Test 🧪

on:
  push:
    branches: [ main ]
  pull_request:
    branches:
      - main   # cible de la PR
  workflow_dispatch:

env:
  DOTNET_VERSION: "9.x"

jobs:

  build_and_test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Cache NuGet 🗂️
        uses: actions/cache@v4
        with:
          path: ~/.nuget/packages
          key: ${{ runner.os }}-nuget-${{ hashFiles('**/*.csproj') }}
          restore-keys: |
            ${{ runner.os }}-nuget-

      - name: Setup .NET 📦
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Restore dependencies 📂
        run: dotnet restore CleanArchitecture.sln

      - name: Build 🧱
        run: dotnet build CleanArchitecture.sln --configuration Release --no-restore -warnaserror

      - name: Run All Tests 🧪
        run: dotnet test CleanArchitecture.sln --configuration Release --no-build --logger "xunit;LogFilePath=TestResults/test-results.xml"

      - name: Display JUnit Test Report 📊
        uses: mikepenz/action-junit-report@v2
        with:
          report_paths: TestResults/test-results.xml
          fail_on_failure: true
          check_name: JUnit Test Report
          include_passed: true
          require_tests: false

  publish:
    runs-on: ubuntu-latest
    needs: build_and_test
    if: github.event_name == 'workflow_dispatch'

    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET 📦
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Publish 🚀
        run: dotnet publish CleanArchitecture.sln --configuration Release --output ./published --no-build

      - name: Upload published artifacts
        uses: actions/upload-artifact@v4
        with:
          name: published-app
          path: published
